.btn {
    width: 202px;
    height: 39px;
    border-radius: 20px;
    background-color: var(--btn_color);
    color: var(--page_background);
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border: none;
}
