html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1116px;
    height: 507px;
    margin: 64px 162px;
    padding: 24px;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 1116px;
    height: 25px;
    list-style: none;
    margin-top: 10px;
}
.active {
    color: var(--btn_color);
    list-style: none;
    margin: 0 10px;
}
