.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 451px;
    height: 659px;
    margin: 64px 0;
    background-color: var(--page_background);
}
.form {
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
    width: 403px;
    height: 611px;
}
.form > label {
    font-size: 12px;
    line-height: 13px;
    color: var(--text_color);
}
input {
    width: 403px;
    height: 39px;
    background-color: var(--input_background);
    outline: none;
    border: none;
    margin: 5px 0;
}
input::placeholder {
    color: var(--footer_text);
    font-size: 12px;
    line-height: 15px;
}
select {
    width: 403px;
    height: 39px;
    background-color: #fafafa;
    outline: none;
    border: none;
    margin: 5px 0;
}

textarea {
    width: 403px;
    height: 214px;
    border: none;
    background-color: #fafafa;
}

