.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 642px;
    height: 659px;
    background-color: var(--page_background);
    margin: 64px 0;
    margin-left: 24px;
}
.container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}


