@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
:root {
    --btn_color: #f27623;
    --border_bottom: #E95E30;
    --input_background: #fafafa;
    --page_background: #ffffff;
    --footer_text: #C5C5C5;
    --text_color: #404040;
}
